{% extends "base.html" %}

{% block app_content %}
    <h2>-- Mandat --</h2>
    <br>
    <div><p>
        Fokuset er globalt innenfor teknologi bransjen, med en spesialisering innenfor følgende områder:<br>
                <li>DeFi - desentralisert finans basert på blokkjede teknologi, inkludert tilhørende krypto valuta</li>
                <li>Artificial intelligence</li>
                <li>Connectivity - 5G</li>
                <li>Cybersecurity</lil>
                <li>Robotics</li>
        </p>
    </div>
{% endblock %}