{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h4>Portefølje oversikt (i NOK)</h4>
    <br>
    <div><p>Total verdi: {{ "{:,.0f}". format(value) }}</p>
        <p>Total fortjeneste: {{ "{:,.0f} NOK". format(profit) }} ({{ "{:,.0f}%". format(profit_pct) }})</p>
        <p>USD kurs: {{ "{:,.2f}". format(usd_nok) }}</p>
        <br>
        <p>Potensiale: {{ "{:,.0f}". format(max) }}</p></div>
    <br><br>
    {% if form %}
        {{ wtf.quick_form(form) }}
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Aktiva</th>
                <th>Kursmål</th>
                <th>Kurs nå</th>
                <th>Verdi</th>
                <th>Avkastning</th>
                <th>Andel</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.ticker.upper() }}</td>
                    <td>{{ "{:,.0f}". format(post.price_target) }}</td>
                    <td>{{ "{:,.0f}". format(post.curr_price) }}</td>
                    <td>{{ "{:,.0f}". format(post.amount*post.curr_price) }}</td>
                    <td>{{ "{:,.0f}". format(((post.amount*post.curr_price) / (post.amount*post.buy_price) -1) * 100) }}</td>
                    <td>{{ "{:,.0f}". format((post.amount*post.curr_price / value) * 100) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
