{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h4>Portefølje oversikt (i NOK)</h4>
    <br>
    <div><p>Total verdi: {{ "{:,.0f}". format(value) }}</p>
        <p>Total fortjeneste: {{ "{:,.0f}". format(profit) }}</p></div>
        <p>Kurser fra: {{ today }}</p></div>
    <br><br>
    {% if form %}
        {{ wtf.quick_form(form) }}

    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Aktiva</th>
                <th>Andeler</th>
                <th>Pålydende</th>
                <th>Kurs nå</th>
                <th>Fortjeneste</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.ticker.upper() }}</td>
                    <td>{{ "{:,.0f}". format(post.amount) }}</td>
                    <td>{{ "{:,.0f}". format(post.buyPrice) }}</td>
                    <td>{{ "{:,.0f}". format(post.currPrice) }}</td>
                    <td>{{ "{:,.0f}". format((post.profit / (post.amount*post.buyPrice))*100) }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
